
.topDishes h1 {
    margin-bottom: 10px;
    font-size: 20px;
    color: #333;
}

.top-dishes-container {
    display: flex;
    overflow-x: auto;
    gap: 25px;
    padding: 10px;
    scrollbar-width: thin;
    scrollbar-color: #ccc transparent;
}

.top-dishes-container::-webkit-scrollbar {
    height: 8px;
}

.top-dishes-container::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
}

.top-dishes-container::-webkit-scrollbar-track {
    background: transparent;
}

.top-dish-image {
    width: 350px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex-shrink: 0;
}